
<section class="footer-top-area">
    <div class="container">
        <div class="footer-top-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-top-left">
                        <div class="about-us-area">
                            <a href="~/"><img src="~/Public/user/img/brand/WebLogo.png" alt="" /></a>
                            <p>Đảm bảo cung cấp trải nghiệm mua sắm tốt nhất cho khách hàng.</p>
                        </div>
                        <div class="fllow-us-area">
                            <h2>Follow us</h2>
                            <ul class="flow-us-link">
                                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="footer-top-right-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter", "Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Về chúng tôi</h2>
                                        @Html.Action("ListPage", "Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="tel:0762884181"><i class="fa fa-angle-double-right"></i>Tổng đài hỗ trợ kỹ thuật: 0983.574.245</a></li>
                                            <li><a href="mailto:siltv3665@gmail.com.vn?subject=Phản hồi về:&body=Xin vui lòng trình bày rõ vấn đề cần giải quyết: "><i class="fa fa-angle-double-right"></i>Email: tn2525810@gmail.com</a></li>
                                            <li><a href=""><i class="fa fa-angle-double-right"></i>KTCN, TDMU</a></li>
                                        </ul>
                                        <!-- Di chuyển iframe ra ngoài ul -->
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.772594042199!2d106.67290467492063!3d10.980529955396067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1085e2b1c37%3A0x73bfa5616464d0ee!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1718903141355!5m2!1svi!2s" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>